<div class="jumbotron mt-4">
    <h1 class="display-4">Inventario de la granja con nodejs and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam recusandae quasi officia iusto, tenetur autem, repudiandae corporis ad expedita animi inventore voluptatibus quas! Reprehenderit, aliquid doloremque incidunt possimus esse mollitia cum dolorem.</p>
    <a href="http://localhost:3000/" class="btn btn-primary btn-lg">principal</a>
</div>